.text-primary {
    color: #F0AD4E;
}
.fa {
    color: #FFA900;
}
/* nastavenie modrej farby na prvkoch*/
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #0B4AD1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #0B4AD1;
}
.navbar-default .navbar-nav > li > a {
    color: #0B4AD1;
}
.navbar-nav > li > a {
    padding: 8px 12px;
    margin: 12px 6px;
    border: 1px solid transparent;
    border-radius: 20px;
}
.btn-xs, .btn-group-xs > .btn {
    padding: 1px 5px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 20px;
}
.btn-primary {
    color: #FFF;
    background-color: #0B4AD1;
    border-color: #0B4AD1;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    color: #FFF;
    background-color: #215B90;
    border-color: #124470;
}
a:hover, a:focus {
    color: #0B4AD1;
    text-decoration: underline;
}
a {
    color: #0B4AD1;
    text-decoration: none;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #0B4AD1;
    background-color: transparent;
}
.nav-pills > li > a {
    border-radius: 20px;
}
#o_shop_collapse_category li a {
    display: inline-block;
    width: 80%;
    padding-left: 10px;
}
.label-primary { /* zelené číselko pri košíku */
    background-color: #3FAD46;
}
.label {
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #FFF;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 1em;
}
/* zmena pozadia na lište editovania webstránky */
.nav-tabs {
    border-bottom: 1px solid #DDD;
    background-color: white;
}
